In [15]:
import pandas as p

In [37]:
datos = p.read_csv("ex.csv", names = ["Nombre", "Sexo", "Edad", "Pais", "Clase"])
datos.to_csv("ex2.csv")
datos = p.read_csv("ex2.csv")
 
datos

   Unnamed: 0   Nombre    Sexo  Edad       Pais Clase
0           0   Miguel  Hombre  34.0     Espa単a     A
1           1   Javier  Hombre  23.0     Brasil     B
2           2      Ana   Mujer  40.0     Italia     A
3           3    Pablo  Hombre   NaN        USA     C
4           4      Eva   Mujer  23.0     Italia     A
5           5  Esteban  Hombre  -2.0  Argentina     B

In [12]:
datos.dropna()

   Unnamed: 0   Miguel  Hombre    34     Espa単a  A
0           0   Javier  Hombre  23.0     Brasil  B
1           1      Ana   Mujer  40.0     Italia  A
3           3      Eva   Mujer  23.0     Italia  A
4           4  Esteban  Hombre  -2.0  Argentina  B

KeyError: 1